body{
    margin: 0;
    padding: 0%;
    background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
}
.nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 90px;
    padding: 0 1px;
    list-style-type: none;  
    margin-top: 0%;
}
.download{
    background: none;
	color: inherit;
	border: none;
    height: 90px;
    font-size: 28px;
	padding: 0 1px;
    list-style: none;
	cursor: pointer;
	
}
.logo{
    color: rgb(232, 23, 92);
    font-size: 50px;
  
}
.profile{
   font-size: 30px;
}
.become{
    font-size: 30px;
    
 }
 .cart{
    font-size: 30px;
 }
 .line{
    height: 2px;
    background-color: black;
 }
 